
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        {% comment %} <h1>{{grand_total}}</h1> {% endcomment %}
        <script src="https://cdn.kushkipagos.com/kushki-checkout.js"></script>
        
        <div class="row text-center">  
            <div class="col-md-12 text-center">  
                <form  name="my-form" id="my-form" method="post" action="{% url 'charge' %}">
                    {% csrf_token %}
                </form>
            </div>
        </div>   
    </div>
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    <script>
        

        $(document).ready(function(){
            
            var kushki = new KushkiCheckout({
			    kformId: "JgIf6UfSO",
			    form: "my-form",
			    publicMerchantId: "b8099f6006c740089b4ed0100ec5f536",// Reemplaza esto por tucredencial pública
			    inTestEnvironment: true,
			    amount: {
			     subtotalIva: {{sub_total}},
			     iva: {{iva}},
			     subtotalIva0: 0,
			     }
    		});
                
            $('iframe').css('height','700px');
            
            /*$('#my-form').submit(function(event) {
                alert('Submit blocked!');
                //event.preventDefault();
                return false;
            });*/ 
        });
        
    </script>   

{% endblock %}
